<nav class="navbar fixed-top navbar-expand-md navbar-light" style="height:80px;background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="https://media.istockphoto.com/vectors/car-search-icon-for-web-and-apps-vector-id1282875224?k=20&m=1282875224&s=612x612&w=0&h=lJvDMtOx9N6nR-Rbw6ahkbcwLUH8b0xDhPrZ4NcoreE="
         alt="" width="50" height="50" class="d-inline-block align-text-center">
        TCE Pool
      </a>
  
      <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      class="navbar-toggler" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
      
      </button>
  
    
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto order-0">
          <li class="nav-item active">
            <a href="/viewavailableriders" class="nav-link">Available Ride</a>
          </li>
  
          <li class="nav-item active" >
            <a href="/ridedetails" class="nav-link">Ride Details</a>
          </li>
  
          <li class="nav-item active">
            <a href="/publishride" class="nav-link">Publish A Ride</a>
          </li>
  
          <li class="nav-item active">
            <a href="#t4" class="nav-link">Vehicles For Ride</a>
          </li>
  
          <li class="nav-item active">
            <a href="/" class="nav-link">Logout</a>
          </li>
   
        </ul>
      </div>
  
    </div> 
  </nav>